{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Se connecter</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <input type="submit" class="btn">Register</input>
    {{ form_end(registrationForm) }}
{% endblock %}
