<nav>
    <ul>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_register') }}">Créer un compte</a></li>
        <li><a href="{{ path('userInfos') }}">Profil</a></li>
        <li><a href="{{ path('newArticle') }}">Créer un article</a></li>
        <li><a href="{{ path('articleList') }}">Voir les articles</a></li>
        <li><a href="{{ path('userView') }}">Espace admin</a></li>
    </ul>
</nav>